body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.square {
  position: relative;
  color: rgb(88, 86, 86);
  color: #fff;
}

.square span {
  position: relative;
  z-index: 2;
}

.container {
    text-align: center;
    margin-top: -50px; /* Уменьшите значение, чтобы поднять контейнер выше */
}

h1 {
    color: white;
    margin-top: -20px; /* Уменьшите значение, чтобы поднять текст выше */
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    user-select: none;
    animation-fill-mode: forwards;
    font-weight: bold;
    position: relative; /* Если еще не установлено */
    z-index: 10; /* Пример значения, установите достаточно высокое, чтобы быть над фоном */
}

/* Добавляем задержку анимации для каждого квадрата */
.row .square:nth-child(1) { animation-delay: 0s; }
.row .square:nth-child(2) { animation-delay: 0.1s; }
.row .square:nth-child(3) { animation-delay: 0.2s; }
.row .square:nth-child(4) { animation-delay: 0.3s; }
.row .square:nth-child(5) { animation-delay: 0.4s; }

/* Определение ключевых кадров анимации */
@keyframes pop {
    0% { transform: translateY(0); background-color: transparent; }
    50% { transform: translateY(-10px); background-color: #3498db; }
    100% { transform: translateY(0); background-color: #3498db; }
}

.square.correct,
.square.present,
.square.absent {
    animation: pop 0.6s ease forwards;
}

/* Отключаем анимацию цвета фона для других состояний */
.square.correct {
    animation: pop-correct 0.6s ease forwards;
}

.square.present {
    animation: pop-present 0.6s ease forwards;
}

.square.absent {
    animation: pop-absent 0.6s ease forwards;
}

/* Анимация цвета фона для каждого состояния */
@keyframes pop-correct {
    0% { background-color: transparent; color: #FFF; }
    50% { background-color: #b3ffb3; color: rgb(88, 86, 86); }
    100% { background-color: #b3ffb3; color: rgb(88, 86, 86); }
}

@keyframes pop-present {
    0% { background-color: transparent; color: #FFF; }
    50% { background-color: #ffffb3; color: rgb(88, 86, 86); }
    100% { background-color: #ffffb3; color: rgb(88, 86, 86); }
}

@keyframes pop-absent {
    0% { background-color: transparent; color: #FFF; }
    50% { background-color: #d9d9d9; color: rgb(88, 86, 86); }
    100% { background-color: #d9d9d9; color: rgb(88, 86, 86); }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        /* Дополнительные стили для мобильной версии */
    }
    .square {
        width: 50px; /* Меньший размер для клеток на мобильных устройствах */
        height: 50px;
    }
    .container, .board {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* Другие стили для мобильной версии */
}


.keyboard {
    display: none; /* Скрыть клавиатуру по умолчанию */
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.key-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key.key-correct {
  background-color: #b3ffb3; /* Зеленый цвет для угаданных клавиш */
}
.key.key-present {
  background-color: #ffffb3; /* Желтый цвет для клавиш с буквами не на своем месте */
}

.key.key-absent {
  background-color: #d9d9d9; /* Серый цвет для клавиш с буквами, которых нет в слове */
}
.key {
   background-color: #f1f1f1;
   border: 1px solid #ccc;
   padding: 10px 15px;
   margin: 0 5px;
   border-radius: 5px;
   font-size: 18px;
   transition: background-color 0.5s ease; /* Добавляем плавное изменение цвета фона */

}

.special-key {
   flex-grow: 1;
}

@media (max-width: 768px) {
    .keyboard {
        display: flex; /* Показать клавиатуру на мобильных устройствах */
    }
}


.key-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
        margin-top: -80px; /* Increased from -50px to -80px */
    }

    h1 {
        color: white;
        margin-top: -50px; /* Increased from -20px to -50px */
    }
}

@media (max-width: 350px) {
    .container {
        text-align: center;
        margin-top: -130px; /* Increased from -50px to -80px */
    }

    h1 {
        color: white;
        margin-top: -100px; /* Increased from -20px to -50px */
    }
}